
# General
.DS_Store
Thumbs.db
.idea/
.vscode/
*.iml

# Android
android/.gradle/
android/.idea/
android/local.properties
android/captures/
android/app/build/
android/build/

# Web
web/node_modules/
web/dist/

# Generated
**/.cxx/

# Local SDKs / downloads
external/
